
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Members", "Index", "Members", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Events", "Index", "Events", null, new { @class = "btn btn-success" })
@Html.ActionLink("Committees", "Index", "Committees", null, new { @class = "btn btn-danger" })

